.flexbox-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 70px;
}

.unsaved {
    color: red;
}

.saved{
    color: green;
}

.untracked{
    opacity: .65;
}

button {
    margin-left: 2px;
}